<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/css/styleDocumentation.css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">

          <form action="/credenciales" method="post" class="sign-in-form">
            <h2 class="title">Solicitar Credenciales</h2>
            <h4>
              Accede a nuestros servicios:
            </h4>
            <br>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Nombres" name="nombres" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Apellidos" name="apellidos" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="correo" required/>
            </div>

            <% if(cliente_id===""){ %>
            <input type="submit" value="Registrar" class="btn solid" id="sign-up-btn"/>
            <% } else { %>
            <input type="button" value="Presioname" class="btn solid" id="sign-up-btn"/>
            <% } %>
          </form>

          <form action="#" class="sign-up-form">
            <h2 class="title">Tús Credenciales son:</h2>
            <h5>Cliente ID</h5>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Cliente Id" readonly value="<%= cliente_id %>"/>
            </div>
            <h5>Llave Secreta</h5>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="email" placeholder="Llave Secreta" readonly value="<%= llave_secreta %>" />
            </div>
            <p class="social-text">Si no aparece tú clave secreta, prueba a registrarte otra vés</p>
            <input type="button" class="btn" value="Registrarte" id="sign-in-btn" />
          </form>


        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Nuevo Aquí?</h3>
            <p>
              Bienvenidos, la presente plataforma contiene la API desarrollada para el modelo de negocio. La API permite el acceso directo al trabajo con la información de nuestra base de datos desde tu aplicación. Usa una interfaz RESTful y retorna los datos en formato JSON. La información invocadas a través de la API proveen un acceso estándar online a datos contenidos en páginas HTML y otros archivos similares disponibles en Internet. Registre sus datos y consiga la autorización para trabajar en nuestra plataforma, ya que requiere de datos de autorización, la puedes solicitar a través del siguiente formulario:
            </p>
            <form action="/documentation" method="get">
              <button type="submit" class="btn transparent">
                Documentacion
              </button>
            </form>
            
          </div>
          <img src="./assets/images/fastfood2.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Registro exitoso, guarde sus credenciales</h3>
            <p>
              El modelo de negocio del que trata la api, es Fast-Food. Con las credenciales podrás acceder a la información de la api a través de las rutas proprocionadas en la Documentacion
            </p>
            <form action="/documentation" method="get">
              <button type="submit" class="btn transparent">
                Documentacion
              </button>
            </form>
          </div>
          <img src="./assets/images/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <script src="./assets/js/documentation.js"></script>
  </body>
</html>
