<%- include('./pages/includes/header.ejs')%>
<%-include('./pages/includes/menu.ejs')%>

        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Quick Action Toolbar Starts-->
            <div class="row quick-action-toolbar">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-header d-block d-md-flex">
                    <h5 class="mb-0">Contenido</h5>
                    <i class="icon-bulb"></i>
                  </div>
                  <div class="d-md-flex row m-0 quick-action-btns" role="group" aria-label="Quick action buttons">
                    <div class="card-body">
                      <p>Bienvenidos a la documentación de la API - Modelo de negocio de ejemplo. La documentación de esta API está aplicada para los modelos de negocios del departamento de San Martín que desarrollen este rubro.
                      </p>
                      <p>
                      Para este trabajo, se han considerado la colaboración de un equipo de tecnología y desarrollo que ha elaborado una análisis de requerimientos de acuerdo a la realidad planteada, fruto de este esfuerzo profesional, se ha desarrollado la gestión del modelo de negocio para los componentes de compras, ventas, gestión de almacenes, sucursales, mantenimiento de entidades de las bases de datos, gestión de la seguridad y reportes personalizados para cada unidad de negocio que pretenda utilizar estas API para su fin comercial. Además estas API es una propuesta desarrollada por estudiantes de la Escuela Profesional de Ingeniería de Sistemas e Informática de la Universidad Nacional de San Martín - Tarapoto.
                      </p>
                      <p>
                      Las API está organizadas en base a los conceptos REST. Es decir, la API está orientada a recursos y utiliza códigos de respuestas HTTP para indicar errores. Además se utilizan los métodos HTTP como GET, POST, PUT y DELETE para las correspondientes acciones. Se sugiere utilizar POSTMAN y las respuestas en formato JSON. 
                      </p>
                      <p>
                      Para alguna consulta en particular que no se encuentre dentro de la presente documentación, escríbanos a desarrollador@gmail.com para más detalles.  
                      </p>

                      <img class="col-xs-6 offset-3" src="/assets/images/postman.png">
                    </div>
                    

                  </div>
                </div>
              </div>
            </div>
            <!-- Quick Action Toolbar Ends-->
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
  <%- include('./pages/includes/footer.ejs')%>
