  <%- include('includes/head.ejs')%>
  <%- include('includes/menus.ejs')%>
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 box-margin">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-50">
                        <h4 class="card-title mb-2 text-uppercase">Perfiles</h4>
                        <div class="d-flex">
                            <a  href="#" class="btn btn-primary">Agregar</a>
                        </div>
                    </div>

                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>    
                                <th class="text-center">Código</th>
                                <th>Perfil</th>
                                <th class="text-center">Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="text-center"></td>
                                <td></td>
                                <td class="text-center"></td>
                                <td class="text-center">

                                </td>
                            
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>                      
</div>

    <%- include('includes/foot.ejs')%>