<li class="nav-item nav-category"><span class="nav-link">UI Elements</span></li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Gestión</span>
                <i class="icon-layers menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/departamentos">Departamentos</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/distritos">Distritos</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/provincias">Provincias</a></li>
                  <li class="nav-item"> <a class="nav-link" href="empresas">Empresas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="sucursales">Sucursales</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic5">
                <span class="menu-title">Seguridad</span>
                <i class="icon-layers menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic5">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/usuarios">Usuarios</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/perfiles">Perfiles</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
                <span class="menu-title">Compras</span>
                <i class="icon-book-open menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic2">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/compras">Compras</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/proveedores">Proveedores</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/detallecompras">Detalle Compras</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic3">
                <span class="menu-title">Almacenes</span>
                <i class="icon-book-open menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic3">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/productos">Productos</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/marcas">Marcas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/categorias">Categorias</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/almacenes">Almacenes</a></li>
                  
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic4">
                <span class="menu-title">Ventas</span>
                <i class="icon-book-open menu-icon"></i>
              </a>
              <div class="collapse" id="ui-basic4">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/ventas">Ventas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/menus">Menús</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/mesas">Mesas</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/pedidos">Pedidos</a></li>
                  <li class="nav-item"> <a class="nav-link" href="/cajas">Cajas</a></li>
                </ul>
              </div>
            </li>
       </ul>
       </nav>
        <!-- partial -->